@(users: List[User], menuItems: List[Link])

@main("User database") {
    <!-- include top menu -->
    @views.html.topMenu(menuItems)

    <div id="page-container" class="container"><!--  style="text-align: center; background: url(@routes.Assets.at("images/domino-bg.png")) scroll; top: auto; right: 0; bottom: 0; left: 0;"-->
        <div class="row" style="width: 900px;">
            <div id="page-body">
                <div style="width: 900px; background-color: black">
                    Hola
                </div>

                <div class="col-md-10">
                    <h2>Insert a user here:</h2>
                    <form action="/users/insert" method="POST">
                        <input name="firstname" type="text" placeholder="First name"/>
                        <input name="lastname" type="text" placeholder="Last name"/>
                        <input name="email" type="text" placeholder="Email"/>
                        <input name="password" type="password"/>
                        <input type="submit"/>
                    </form>
                    <h2 class="page-header">Users List</h2>
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Date Created</th>
                        </tr>
                        @for(u <- users) {
                            <tr>
                                <td>@u.id</td>
                                <td>@u.firstname</td>
                                <td>@u.lastname</td>
                                <td>@u.email</td>
                                <td>@u.dateCreated</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
}